 .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #FFFFFF;

}
  .AppHeader {
    background-color: #57C4E5;
    secondary-color: #212738;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
  .Button {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    color: #3700B3;
    align-items: center;
  }
